@font-face {
    font-family: paint;
    src: url(../../../public/fonts/Painting_With_Chocolate.ttf);
}

.about-container {
    --u: 1.52vmin;
    --c1: #888888;
    --c2: #6b6b6b;
    --c3: #4e4e4e;
    --c4: #464646;
    --c5: #393939;
    --gp: 50%/calc(var(--u) * 10) calc(var(--u) * 17.5);
    --bp: calc(var(--u) * -5) calc(var(--u) * -8.75);
    --bg: conic-gradient(from 120deg at 74.5% 91.75%, var(--c2) 0 120deg, #fff0 0 360deg) var(--gp),
        conic-gradient(from 120deg at 25.5% 91.75%, var(--c1) 0 120deg, #fff0 0 360deg) var(--gp),
        conic-gradient(from 60deg at 74.5% 75%, var(--c3) 0 120deg, #fff0 0 360deg) var(--gp),
        conic-gradient(from 180deg at 25.5% 75%, var(--c2) 0 120deg, #fff0 0 360deg) var(--gp),
        conic-gradient(from 120deg at 50% 67%, var(--c5) 0 120deg, #fff0 0 360deg) var(--gp),
        conic-gradient(from 90deg at 50% 50%, var(--c1) 0 30deg, var(--c4) 0 90deg, var(--c3) 0 150deg, var(--c2) 0 180deg, #fff0 0 360deg) var(--gp);
    background: var(--bg), var(--bg), var(--c1);
    background-position: var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    display: flex;
    flex-direction: column;
    color: white;
    height: auto;
    align-items: center;
}

.about-image-container {
    display: flex;
    align-items: center;
    -webkit-backdrop-filter: brightness(0.3);
    padding: 50px;
    backdrop-filter: brightness(0.3) blur(8px);
}

.about-image {
    width: 35%;
    border: double;
    border-radius: 90px;
    height: auto;
}

.about-h2 {
    font-family: paint;
    font-size: 45px;
    font-weight: 100;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.about-p {
    font-size: 22px;
    font-family: cursive;
    margin-bottom: 20px;
}

.about-content-container {
    backdrop-filter: brightness(0.3) blur(8px);
}

.about-content {
    font-size: 22px;
    font-family: cursive;
}

.about_firrig {
    border-style: double;
    background: #d90e0e;
    color: rgb(255, 255, 255);
    padding: 30px;
    height: auto;
    margin-left: 30px;
    border-radius: 29px;
}

.about-namestory {
    border-style: double;
    background: #d90e0e;
    color: rgb(255, 255, 255);
    height: auto;
    padding: 30px;
    margin: 70px 50px 90px 50px;
    border-radius: 29px;
}

.about_firminfo {
    display: flex;
    color: white;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logoblew {
    font-family: 'paint';
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 40px;
}

.about_firminfo .about_firminfo-info {
    border: 3px double white;
    display: flex;
    border-radius: 100px;
    background: #d90e0e;
    font-size: 21px;
    font-family: cursive;
    padding: 30px;
    margin: 20px;
    color: white;
    flex-direction: column;
    align-items: center;
}

img.pngimage {
    animation: shake-vertical 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    display: block;
    width: 23%;
}

@media screen and (max-width: 1024px) {
    .about_firminfo .about_firminfo-info {
        font-size: 15px;
    }

    .logoblew {
        font-family: 'paint';
        font-weight: 100;
        margin-bottom: 10px;
        font-size: 65px;
    }

    img.pngimage {
        animation: shake-vertical 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        display: block;
        width: 30%;
    }

    .about-content {
        font-size: 15px;
    }

    .about-p {
        font-size: 15px;
    }

    .about-container {
        margin-top: 77px;
    }

    .about-h2 {
        font-size: 49px;
    }

    .about_firrig {

        margin-left: 0px;
    }

    .about-image {
        width: 100%;
        margin-bottom: 90px;
        border: double;
        border-radius: 90px;
        height: auto;
    }

    .about-image-container {
        flex-direction: column;
    }

    .about_firminfo {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {


    .about-image {
        width: 70%;
        margin-bottom: 20px;
    }

    .about_firrig,
    .about-namestory {
        margin: 20px;
    }

    .about_firminfo-info {
        margin: 10px;
    }
}

@keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}