

.contact-container {
  position: relative; /* Set position relative to contain the blurred background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.button {
  background-color: #27d82f;
  color: #000;
  border: none;
  padding: 10px 20px;
  border: 1px solid #5c5c5c;
  font-size: 16px;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blur-background {
  position: absolute;
  --u: 1.52vmin;
  --c1: #888888;
  --c2: #6b6b6b;
  --c3: #4e4e4e;
  --c4: #464646;
  --c5: #393939;
  --gp: 50%/calc(var(--u) * 10) calc(var(--u) * 17.5);
  --bp: calc(var(--u) * -5) calc(var(--u) * -8.75);
  --bg: conic-gradient(from 120deg at 74.5% 91.75%, var(--c2) 0 120deg, #fff0 0 360deg) var(--gp), conic-gradient(from 120deg at 25.5% 91.75%, var(--c1) 0 120deg, #fff0 0 360deg) var(--gp), conic-gradient(from 60deg at 74.5% 75%, var(--c3) 0 120deg, #fff0 0 360deg) var(--gp), conic-gradient(from 180deg at 25.5% 75%, var(--c2) 0 120deg, #fff0 0 360deg) var(--gp), conic-gradient(from 120deg at 50% 67%, var(--c5) 0 120deg, #fff0 0 360deg) var(--gp), conic-gradient(from 90deg at 50% 50%, var(--c1) 0 30deg, var(--c4) 0 90deg, var(--c3) 0 150deg, var(--c2) 0 180deg, #fff0 0 360deg) var(--gp);
  background: var(--bg), var(--bg), var(--c1);
  background-position: var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  width: 100%;
  height: 100%;
  filter: blur(8px) brightness(.3);
  backdrop-filter: brightness(0.3);
}
.heading {
  font-size: 35px;
  color: #333;
  margin-bottom: 40px;
  border-bottom: 2px solid;
  margin-top: 0;
}

.contact-form {
  background-color: #ffeda8;
  padding: 2%;
  border-radius: 25px;
  filter: drop-shadow(2px 4px 6px black);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  color: #666;
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 97%;
  background: #fff5d0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #4caf50;
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff5d0;
  color: #333;
  transition: border-color 0.3s ease;
  resize: vertical;
}

.textarea:focus {
  outline: none;
  border-color: #4caf50;
}

.button:hover {
  background-color: #45a049;
}




