.navigation {
  background: black;
  border-bottom: 0.5px solid #bababa;
  border-top: 1px solid #bababa;
  position: sticky;
  filter: drop-shadow(2px 4px 6px rgb(171, 171, 171));
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-logo-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.logo {
  filter: invert(1);
  width: 100%;
  max-width: 150px;
  margin-left: 10px;
}

.mobile-menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 18px;
  left: 18px;
}

.mobile-menu-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 4px;
  transition-duration: 0.3s;
}

.navigation.mobile-menu-open .mobile-menu-toggle span:first-child {
  transform: rotate(45deg) translateX(5px);
}

.navigation.mobile-menu-open .mobile-menu-toggle span:nth-child(2) {
  opacity: 0;
}

.navigation.mobile-menu-open .mobile-menu-toggle span:last-child {
  transform: rotate(-45deg) translateX(5px);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  display: flex;
  font-size: large;
  transition: background-color 0.5s;
}

.navbar li a {
  display: block;
  font-family: "paint";
  font-weight: 100;
  font-size: 23px;
  padding: 8px 16px;
  text-decoration: none;
  transition: color 0.3s;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 8px;
}

.hovssss:hover {
  background-color: #000000;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px rgb(173, 173, 173));
  text-decoration: underline rgb(255, 255, 255);
  transform: translateY(-3px);
}

@media (max-width: 1024px) {
  .nav-logo-container {
    background-color: black;
    justify-content: center;
    width: 100%;
  }

  .logo {
    margin: 4px 0;
  }

  .navbar {
    display: none;
  }

  .mobile-menu-toggle {
    display: flex;
  }

  .mobile-menu-open .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-menu {
    display: none;
    padding-top: 0;
    background-color: black;
    position: sticky;
    top: 69px;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }

  .mobile-menu-open .mobile-menu {
    display: block;
    height: auto;
    position: absolute;
    transform: translateY(0);
  }
}
